<a href="https://colab.research.google.com/github/rojasfery/MLOps_2024/blob/main/1er_entregable_proyecto_boot_camp_MLOps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################################################################################
##  Importación de liberías
################################################################################
# Importación de librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print('--------\n-- ok --\n--------')

--------
-- ok --
--------

In [ ]:
################################################################################
##  Lectura del dataset
################################################################################
# Carga del dataset
url = '/content/dataset.csv'  # URL del dataset
dataset = pd.read_csv(url, sep=';')

print('--------\n-- ok --\n--------')

--------
-- ok --
--------

In [ ]:
################################################################################
##  Explorando datos
################################################################################
# Exploración inicial de los datos
print('-------- head()\n',dataset.head())
print('\n--------info()\n')
dataset.info()
print('\n--------describe()\n',dataset.describe())

-------- head()
    ID Motorway   SR  NR  TR  VR  SUR1  SUR2  SUR3  UR  ...  BR  MR  CR  \
0   1       A1  600   1   1   4     6     2    10   0  ...   0   0   1
1   2       A1  700   1   5   1    10     6    10   3  ...   1   0   1
2   3       A1  200   1   5   1    10     6    10   3  ...   1   0   1
3   4       A1  300   1   5   0     6    10     2   3  ...   0   0   1
4   5       A1  600   2   1   4    10     2     6   0  ...   5   0   1

   Green frogs  Brown frogs  Common toad  Fire-bellied toad  Tree frog  \
0            0            0            0                  0          0
1            0            1            1                  0          0
2            0            1            1                  0          0
3            0            0            1                  0          0
4            0            1            1                  1          0

   Common newt  Great crested newt
0            0                   0
1            1                   0
2            1                   0
3            0                   0
4            1                   1

[5 rows x 23 columns]

--------info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  189 non-null    int64
 1   Motorway            189 non-null    object
 2   SR                  189 non-null    int64
 3   NR                  189 non-null    int64
 4   TR                  189 non-null    int64
 5   VR                  189 non-null    int64
 6   SUR1                189 non-null    int64
 7   SUR2                189 non-null    int64
 8   SUR3                189 non-null    int64
 9   UR                  189 non-null    int64
 10  FR                  189 non-null    int64
 11  OR                  189 non-null    int64
 12  RR                  189 non-null    int64
 13  BR                  189 non-null    int64
 14  MR                  189 non-null    int64
 15  CR                  189 non-null    int64
 16  Green frogs         189 non-null    int64
 17  Brown frogs         189 non-null    int64
 18  Common toad         189 non-null    int64
 19  Fire-bellied toad   189 non-null    int64
 20  Tree frog           189 non-null    int64
 21  Common newt         189 non-null    int64
 22  Great crested newt  189 non-null    int64
dtypes: int64(22), object(1)
memory usage: 34.1+ KB

--------describe()
                ID             SR          NR          TR          VR  \
count  189.000000     189.000000  189.000000  189.000000  189.000000
mean    95.000000    9633.227513    1.566138    4.952381    1.904762
std     54.703748   46256.078309    1.544419    5.590918    1.317407
min      1.000000      30.000000    1.000000    1.000000    0.000000
25%     48.000000     300.000000    1.000000    1.000000    1.000000
50%     95.000000     700.000000    1.000000    1.000000    2.000000
75%    142.000000    3300.000000    1.000000   12.000000    3.000000
max    189.000000  500000.000000   12.000000   15.000000    4.000000

             SUR1        SUR2       SUR3          UR          FR  ...  \
count  189.000000  189.000000  189.00000  189.000000  189.000000  ...
mean     4.232804    5.391534    5.84127    0.841270    0.846561  ...
std      3.434615    3.515185    3.29348    1.315291    1.349843  ...
min      1.000000    1.000000    1.00000    0.000000    0.000000  ...
25%      2.000000    2.000000    2.00000    0.000000    0.000000  ...
50%      2.000000    6.000000    6.00000    0.000000    0.000000  ...
75%      7.000000    9.000000    9.00000    3.000000    2.000000  ...
max     14.000000   11.000000   11.00000    3.000000    4.000000  ...

               BR          MR          CR  Green frogs  Brown frogs  \
count  189.000000  189.000000  189.000000   189.000000   189.000000
mean     2.502646    0.047619    1.015873     0.571429     0.783069
std      2.640971    0.296894    0.125316     0.496186     0.413250
min      0.000000    0.000000    1.000000     0.000000     0.000000
25%      1.000000    0.000000    1.000000     0.000000     1.000000
50%      1.000000    0.000000    1.000000     1.000000     1.000000
75%      5.000000    0.000000    1.000000     1.000000     1.000000
max     10.000000    2.000000    2.000000     1.000000     1.000000

       Common toad  Fire-bellied toad   Tree frog  Common newt  \
count   189.000000         189.000000  189.000000   189.000000
mean      0.656085           0.306878    0.375661     0.306878
std       0.476275           0.462423    0.485580     0.462423
min       0.000000           0.000000    0.000000     0.000000
25%       0.000000           0.000000    0.000000     0.000000
50%       1.000000           0.000000    0.000000     0.000000
75%       1.000000           1.000000    1.000000     1.000000
max       1.000000           1.000000    1.000000     1.000000

       Great crested newt
count          189.000000
mean             0.111111
std              0.315104
min              0.000000
25%              0.000000
50%              0.000000
75%              0.000000
max              1.000000

[8 rows x 22 columns]

In [ ]:
################################################################################
##  Definición de variables
################################################################################
# Variables agrupadas según la documentación del dataset

# Variables categóricas
vars_categorical = [
    "Motorway", "TR", "VR", "SUR1", "SUR2", "SUR3",
    "UR", "FR", "MR", "CR"
]

# Variables de etiquetas (podrían tratarse como categóricas)
vars_label = [
    "Green frogs", "Brown frogs", "Common toad",
    "Fire-bellied toad", "Tree frog", "Common newt", "Great crested newt"
]

# Variables númericas
vars_numerical = [
    "SR", "NR", "OR"  # Asumiendo que OR es numérico y no ordinal en tu caso
]

# Variables ordinales (podrían tratarse como númericas)
vars_ordinal = [
    "RR", "BR"
]

# Variables enteras (nos indica el orden de cada registro)
vars_integer = [
    "ID"
]

print('--------\n-- ok --\n--------')

--------
-- ok --
--------

In [ ]:
################################################################################
##  Descriptivo de variables númericas
################################################################################
# Creando data frame para variables númericas
stats_descriptive = pd.DataFrame()

# Obtención de estadísticas descriptivas para variables númericas
print('-------- Procesando:')
for column in vars_numerical + vars_ordinal:
  stats_descriptive[column] = dataset[column].describe()
  print(f'-------- {column}')

print("\n----------------------------------------------------------------------------\n")
print(f'--------Estadísticas descriptivas\n{stats_descriptive}')

-------- Procesando:
-------- SR
-------- NR
-------- OR
-------- RR
-------- BR

----------------------------------------------------------------------------

--------Estadísticas descriptivas
                  SR          NR          OR          RR          BR
count     189.000000  189.000000  189.000000  189.000000  189.000000
mean     9633.227513    1.566138   89.962963    2.333333    2.502646
std     46256.078309    1.544419   19.904926    2.520132    2.640971
min        30.000000    1.000000   25.000000    0.000000    0.000000
25%       300.000000    1.000000   99.000000    1.000000    1.000000
50%       700.000000    1.000000  100.000000    1.000000    1.000000
75%      3300.000000    1.000000  100.000000    5.000000    5.000000
max    500000.000000   12.000000  100.000000   10.000000   10.000000

In [ ]:
################################################################################
##  Descriptivo de variables categóricas
################################################################################
# Creando diccionario para variables categóricas
freq_descriptive = {}

# Onbteniendo frecuencias para variables categóricas
print('-------- Procesando:')
for column in vars_categorical + vars_label:
    freq_descriptive[column] = dataset[column].value_counts()
    print(f'-------- {column}')

# Creando data frame del diccionario para mejor manejo
freq_descriptive_df = pd.DataFrame(freq_descriptive)
freq_descriptive_df.fillna(0, inplace=True) # Eliminando resultados NaN de los conteos por ceros

print("\n----------------------------------------------------------------------------\n")
print(f'--------Frecuencias de variables categóricas\n{freq_descriptive_df}')

-------- Procesando:
-------- Motorway
-------- TR
-------- VR
-------- SUR1
-------- SUR2
-------- SUR3
-------- UR
-------- FR
-------- MR
-------- CR
-------- Green frogs
-------- Brown frogs
-------- Common toad
-------- Fire-bellied toad
-------- Tree frog
-------- Common newt
-------- Great crested newt

----------------------------------------------------------------------------

--------Frecuencias de variables categóricas
     Motorway     TR    VR  SUR1  SUR2  SUR3     UR     FR     MR     CR  \
0         0.0    0.0  30.0   0.0   0.0   0.0  130.0  125.0  184.0    0.0
1         0.0  116.0  55.0  43.0  36.0  29.0    9.0   16.0    1.0  186.0
2         0.0    4.0  35.0  70.0  41.0  29.0    0.0   15.0    4.0    3.0
3         0.0    0.0  41.0   0.0   0.0   0.0   50.0   18.0    0.0    0.0
4         0.0    0.0  28.0   1.0   0.0   0.0    0.0   15.0    0.0    0.0
5         0.0   12.0   0.0   0.0   0.0   2.0    0.0    0.0    0.0    0.0
6         0.0    0.0   0.0  19.0  39.0  55.0    0.0    0.0    0.0    0.0
7         0.0    1.0   0.0  20.0  18.0  18.0    0.0    0.0    0.0    0.0
9         0.0    0.0   0.0   5.0  10.0  10.0    0.0    0.0    0.0    0.0
10        0.0    0.0   0.0  30.0  44.0  45.0    0.0    0.0    0.0    0.0
11        0.0    4.0   0.0   0.0   1.0   1.0    0.0    0.0    0.0    0.0
12        0.0   23.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0    0.0
14        0.0   10.0   0.0   1.0   0.0   0.0    0.0    0.0    0.0    0.0
15        0.0   19.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0    0.0
A1       80.0    0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0    0.0
S52     109.0    0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0    0.0

     Green frogs  Brown frogs  Common toad  Fire-bellied toad  Tree frog  \
0           81.0         41.0         65.0              131.0      118.0
1          108.0        148.0        124.0               58.0       71.0
2            0.0          0.0          0.0                0.0        0.0
3            0.0          0.0          0.0                0.0        0.0
4            0.0          0.0          0.0                0.0        0.0
5            0.0          0.0          0.0                0.0        0.0
6            0.0          0.0          0.0                0.0        0.0
7            0.0          0.0          0.0                0.0        0.0
9            0.0          0.0          0.0                0.0        0.0
10           0.0          0.0          0.0                0.0        0.0
11           0.0          0.0          0.0                0.0        0.0
12           0.0          0.0          0.0                0.0        0.0
14           0.0          0.0          0.0                0.0        0.0
15           0.0          0.0          0.0                0.0        0.0
A1           0.0          0.0          0.0                0.0        0.0
S52          0.0          0.0          0.0                0.0        0.0

     Common newt  Great crested newt
0          131.0               168.0
1           58.0                21.0
2            0.0                 0.0
3            0.0                 0.0
4            0.0                 0.0
5            0.0                 0.0
6            0.0                 0.0
7            0.0                 0.0
9            0.0                 0.0
10           0.0                 0.0
11           0.0                 0.0
12           0.0                 0.0
14           0.0                 0.0
15           0.0                 0.0
A1           0.0                 0.0
S52          0.0                 0.0

In [ ]:
################################################################################
##  TEXTO
################################################################################
# Visualización de las relaciones entre variables numéricas
sns.pairplot(dataset.select_dtypes(include=['float64', 'int64']))
plt.show()

# Identificación y manejo de valores faltantes
dataset.fillna(dataset.mean(), inplace=True)  # Imputación con la media para variables numéricas
# Considera otros métodos de imputación para variables categóricas si es necesario

# Identificación y manejo de valores atípicos
# Este paso puede requerir un análisis más detallado para determinar el mejor enfoque

# Visualización de la frecuencia de categorías en variables categóricas
for col in dataset.select_dtypes(include=['object']).columns:
    sns.countplot(y=col, data=dataset)
    plt.show()

# Asegúrate de ajustar el código según las necesidades específicas de tu dataset y análisis

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################

In [ ]:
################################################################################
##  TEXTO
################################################################################